
.BtnLight{ background: var(--light-color); }
.BtnPrimary{ background: var(--primary-color); }
.BtnSecondary{ background: var(--secondary-color); }
.BtnBlock{ 
    display: block; 
    width: 100%;
    text-align: center;
}
